
body {
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    width: 600px;
    height: 600px;
}

#wrapper {
    text-align: center;
    padding:20px;
    width: 600px;
    height: 600px;
}

#cs {
    float: left;
    width: 50%;
    height: 100%;

}

#us{
    float: right;
    width: 50%;
    height: 100%;
}

img {
    width: 200px;
    height: 200px;
}