
body {
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

#wrapper {
    padding:20px;
    width: 600px;
    height: 600px;
}

.stimbox{
  margin: 20px;
  position: relative;
}

.left {
    padding: 10px;
}

.right {
    padding: 10px;
}


img {
    width: 200px;
    height: 200px;
}

#stage_inst0 {
    display: none;
}

#stage_inst1 {
    display: none;
}

#stage_inst2 {
    display: none;
}