
body {
    padding:20px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300; 
}

#wrapper {
    text-align: center;
}

#cs {
    float: left;
    width: 50%;
    height: 100%;

}

#us{
    float: right;
    width: 50%;
    height: 100%;
}