<div id="container-attitude">
	<div id="trial">
		<p>Please provide your immediate feelings (your very first gut reaction), how warm or cold you feel toward the following items.</p>
                <p>(0 = coldest feelings, 4 = neutral, 8 = warmest feelings).</p>
		<div id="stim"></div>
		<div id="query"></div>
		
		<div id="scale">
		<form id="postquiz" action="debrief" method="post">
			<div class="row question" style="text-align:center;display:inline;" >
			
					<input type="radio" name="attitude" value="0" id="0">&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="attitude" value="1" id="1">&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="attitude" value="2" id="2">&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="attitude" value="3" id="3">&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="attitude" value="4" id="4" checked="checked">&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="attitude" value="5" id="5">&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="attitude" value="6" id="6">&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="attitude" value="7" id="7">&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="attitude" value="8" id="8">&nbsp;8

		</div>
		</form>
		<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
		</div>
	</div>
</div>