<div id="container-attitude">
	<div id="trial">
		<p>Please provide your immediate feelings (your very first gut reaction), how warm or cold you feel toward the following items.</p>
                <p>(0 = coldest feelings, 4 = neutral, 8 = warmest feelings).</p>
		<div id="stim"></div>
		<div id="query"></div>
		
		<div id="scale">
		<form id="postquiz" action="debrief" method="post">
			<div class="row question radrow" >
				<div class="rad">
					<label>coldest</label>
					<input type="radio" name="attitude" value="0" id="0">
					<label>0</label>
				</div>
				<div class="rad">
					<input type="radio" name="attitude" value="1" id="1">
					<label>1</label>
				</div>
				<div class="rad">
					<input type="radio" name="attitude" value="2" id="2">
					<label>2</label>
				</div>
				<div class="rad">
					<input type="radio" name="attitude" value="3" id="3">
					<label>3</label>
				</div>
				<div class="rad">
					<label>neutral</label>
					<input type="radio" name="attitude" class="neutral" value="4" id="4">
					<label>4</label>
				</div>
				<div class="rad">
					<input type="radio" name="attitude" value="5" id="5">
					<label>5</label>
				</div>
				<div class="rad">
					<input type="radio" name="attitude" value="6" id="6">
					<label>6</label>
				</div>
				<div class="rad">
					<input type="radio" name="attitude" value="7" id="7">
					<label>7</label>
				</div>
				<div class="rad">
					<label>warmest</label>
					<input type="radio" name="attitude" value="8" id="8">
					<label>8</label>
				</div>
				
			</div>
		</form>
		<button style="float:right;margin-right: 20px;" type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
		</div>
	</div>
</div>