<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    During the first task, which of the two items was consistently presented with positive images and words?
                </div>
                <div class="col-md-4">
                    <select id="contingency_positive" name="contingency_positive">
                        <option value="2.5" SELECTED>walking (certainly)</option>
                        <option value="1.5">walking (probably)</option>
                        <option value=".5">walking (guess)</option>
                        <option value="-.5">hearing (guess)</option>
                        <option value="-1.5">hearing (probably)</option>
                        <option value="-2.5">hearing (certainly)</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Which of the two items was consistently presented with neutral images and words?
                </div>
                <div class="col-md-4">
                    <select id="contingency_neutral" name="contingency_neutral">
                        <option value="2.5" SELECTED>walking (certainly)</option>
                        <option value="1.5">walking (probably)</option>
                        <option value=".5">walking (guess)</option>
                        <option value="-.5">hearing (guess)</option>
                        <option value="-1.5">hearing (probably)</option>
                        <option value="-2.5">hearing (certainly)</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
