<div id="container-exp">

<div id="stage_inst0">
    <p> This is a practice round.</p>
    <p>Press the space bar whenever you see the following word:</p>
    <h2>
	<center><strong>Looking</strong></center>
    </h2>
    <button id="begin0"> Begin </button>
</div>

<div id="stage_inst1">
    <p> This is the real task.</p>
    <p>Press the space bar whenever you see the following word:</p>
    <h2>
	<center><strong>Looking</strong></center>
    </h2>     
    <button id="begin1"> Begin </button>
</div>

<div id="stage_inst2">
    <p> Do the same thing again </p>
    <p>Press the space bar whenever you see the following word:</p>
    <h2>
	<center><strong>Looking</strong></center>
    </h2>
    <button id="begin2"> Begin </button>
</div>


<div id="wrapper">
</div>

</div> 