<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		Welcome to this study. This task measures attention and rapid responding. 
	    </p>
	    
	     <p>
		
		This first task is called the HIT Task.  You should hit the space bar as soon as you can when you see a certain word. 

	    </p>
	    
	    <p>
		
		For your HIT Task, we would like you to stay vigilant and watch for the following word:

	    </p>

	    
	    <h2>
	    	<center><strong>Looking</strong></center>
        </h2>                                                                        

	
	

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
