<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            In this task, a lot of distractor items randomly selected from our data base will appear on the screen. 
        </p>

        <p>
            There will sometimes be only 1 item and sometimes a pair of items will appear. These items may not appear at fixed intervals, but at random times.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
